/*===============================================================================================*/
/* Basis */
/*===============================================================================================*/
:root {
  --myBackgroundColor: hsl(120, 10%, 50%);

  --myButtonGreen: hsl(120, 50%, 40%);
  --myButtonGreenHover: hsl(120, 85%, 85%);

  --myWhite: hsl(120, 10%, 95%);
  --myGray: hsl(120, 2%, 50%);
  
  --myBorderColor: #ccc;
}

html{
    font-size: 16px; /* Bezugsgröße: Aufrufbar als 1rem, bzw so skalierbar. */
    font-family: 'Noto Sans', sans-serif; /* Sans-serif ist Arial, andere Optionen Helvetica, Fira Sans, Noto Sans, etc. */
    box-sizing: border-box;
    }

    *, *::before, *::after {
    box-sizing: inherit;
    }
 
body {

    min-height: 100vh;
    margin-top: 20px;
    display: flex;

    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    background-color: var(--myBackgroundColor);
}

.bold {
  font-weight: bold;
}


/*===============================================================================================*/
/* Überschriften */
/*===============================================================================================*/
h1 {

    margin-bottom: 30px;

    text-align: center;
    font-size: 2.0rem;
    color: black;
}

h2 {

    margin-bottom: 20px;

    font-size: 1.2rem;
    color: var(--myGray);
}


/*===============================================================================================*/
/* Buttons */
/*===============================================================================================*/
button {

    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    display: block;
    
    font-size: 1.0rem;
    font-weight: bold;
    color: var(--myWhite);
    background-color: var(--myButtonGreen);
    
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {

    background-color: var(--myButtonGreenHover);
    color: var(--myGray);
}


/*===============================================================================================*/
/* Standard-Container */
/*===============================================================================================*/
.container-standard {

    width: 650px;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;

    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/*===============================================================================================*/
/* Trennelemente */
/*===============================================================================================*/
.line-with-text-left {

    display: flex;
    
    align-items: center;
}
.line-with-text-left::after {

    border-bottom: 3px solid var(--myGray);
    margin-left: 1em;
    flex: 1;

    content: "";
}

.vertical-separator {

    width: 2px;

    background-color: var(--myGray);
}


/*===============================================================================================*/
/* Textfelder */
/*===============================================================================================*/
.description {

    margin-bottom: 20px;

    font-size: 1.0rem;
}


/*===============================================================================================*/
/* Einzeiliger Container */
/*===============================================================================================*/
.line-container {

    padding-left: 10px;
    margin-bottom: 10px;
    display: flex;

    gap: 10px;
}

.line-description {

    height: 35px;
    max-width: 50%;
    margin-right: auto;
    display: flex;

    align-items: center;
    font-size: 1.0rem;
}

/*===============================================================================================*/
/* xxx */
/*===============================================================================================*/

.vertical-item {

    height: 35px;
    width: auto;
    display: flex;

    align-items: center;
    gap: 10px;
}

/*===============================================================================================*/
/* Eingabe-Elemente */
/*===============================================================================================*/

.input-label {

    height: 35px;
    margin-right: 5px;
    display: flex;

    align-items: center;
    font-size: 1.0rem;
}
.input-field {

    height: 35px;
    width: 100px;
    flex-grow: 0;
    padding: 10px;

    font-size: 1rem;
}
.input-dropdown {

    height: 35px;
    width: auto;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 10px;
    border: 1px solid var(--myBorderColor);
    border-radius: 4px;

    font-size: 0.9rem;
}


/*===============================================================================================*/
/* Ausgabe-Gruppe */
/*===============================================================================================*/
.output-group-container {

    margin-top: 20px;
    margin-bottom: 20px;
}

.output-label { /* = input-label */

    height: 35px;
    margin-right: 5px;
    display: flex;

    align-items: center;
    font-size: 1.0rem; 
}

.output-field {

    height: 35px;
    width: 80px;
    padding: 10px;
    border: 1px solid var(--myBorderColor);
    border-radius: 4px;
    display: flex;

    flex-grow: 0;
    align-items: center;
    font-size: 1rem;
}


/*===============================================================================================*/
/* Plot */
/*===============================================================================================*/
#plotCanvas {

    max-height: 500px;
    max-width: 100%;
    padding: 10px;
    border: 1px solid var(--myBorderColor);
    border-radius: 4px;
    margin-bottom: 30px;

    background-color: white;
}


/*===============================================================================================*/
/* Radio-Elemente */
/*===============================================================================================*/
.radio-group-container {

    display: flex;

    align-items: center;
    gap: 10px;
}

.radio-group-container label {

    margin-left: auto;

    font-weight: normal;
    font-size: 0.95rem;
}